<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listić uplaćen</title>
</head>
<body>
<h2>Uplata uspješna!</h2>

<p>ID listića: <span th:text="${ticket.id}"></span></p>
<p>Osobna iskaznica: <span th:text="${ticket.personalId}"></span></p>
<h3>Brojevi na listiću:</h3>
<ul>
    <li th:each="n : ${ticket.numbers}" th:text="${n.number}"></li>
</ul>

<h3>Izvučeni brojevi kola:</h3>
<ul th:if="${ticket.round.drawnNumbers != null}">
    <li th:each="num : ${ticket.round.drawnNumbers}" th:text="${num}"></li>
</ul>


<p>QR kod za provjeru:</p>
<img th:src="'data:image/png;base64,' + ${qrCode}" />

<a th:href="@{/}">Povratak na početnu</a>
</body>
</html>
